body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    padding: 1rem;
    background-color: black;
    color: white;
}

#presentation {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color:black;
    color: white;
}

.regleJeu ul {
    list-style-type: none;
    padding: 0;
}

.regleJeu li {
    margin-bottom: 0.5rem;
}

#imgMemory {
    max-width: 85%;
    height: 250px;
    margin-top: 1rem;
}

#inscription {
    flex: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: #343a40;
    color: white;
    
}

.form {
    margin-bottom: 1rem;
}

.infos {
    margin-top: 2rem;
}



.infos ul {
    list-style-type: none;
    padding: 0;
}

.infos li {
    margin-bottom: 0.5rem;
}

#connexion {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color:black;
    color: white;
}

#niveauSecurite{
    font-size: 0.8rem;
}

#nomInput{
    display: flex;
    flex-direction: row;
}

#imgCheck{
    height: 30px;
    padding-left: 8px;
    display: none;
}

#imgError{
    height: 30px;
    padding-left: 8px;
    display: none;
}

#imgCheckEmail{
    height: 30px;
    padding-left: 8px;
    display: none;
}

#imgErrorEmail{
    height: 30px;
    padding-left: 8px;
    display: none;
}

#inputEmail{
    display: flex;
    flex-direction: row;
}

#imgCheckMdp{
    height: 30px;
    padding-left: 8px;
    display: none;

}

#imgErrorMdp{
    height: 30px;
    padding-left: 8px;
    display: none;

}

#inputMdp{
    display: flex;
    flex-direction: row;
    
}

#blockSecurite{
    width: 100%;
    padding-top: 20px;
    font-size: 1.55rem;
    justify-content: space-between;
    }

#blockFaible{
    justify-content: left;
    display: none;
    width: 33%;
}

#blockMoyen{
    justify-content: center;
    display: none;
    width: 33%;
}

#blockFort{
    justify-content: right;
    display: none;
    width: 33%;
}

#inputConfirmMdp{
    display: flex;
    flex-direction: row;
}

#imgCheckConfirmMdp{
    height: 30px;
    padding-left: 8px;
    display: none;
}

#imgErrorConfirmMdp{
    height: 30px;
    padding-left: 8px;
    display: none;
}

#barreFaible{
    background-color: red;
    width: 100%;
    height: 2px;
}

#barreMoyen{
    background-color: orange;
    width: 100%;
    height: 2px;
}

#barreFort{
    background-color: green;
    width: 100%;
    height: 2px;
}

#faible{
    font-size: 1rem;
}

#moyen{
    font-size: 1rem;
}

#fort{
    font-size: 1rem;
}

#blockButton{
    padding-top: 20px;
}